<p id="notice"></p>
<h1>Books</h1>

<%= @book.each do |book| %>

<p>Title</p>
<span><%= book.title %></span>

<% end %>

<h2>New book</h2>
<%= form_with to_model: @book do |f| %>
<h4>Title</h4>
<%= f.text_field:title %>

<h4>Body</h4>
<%= f.text_area :body %>
<%= f.submit "Create Book" %>
<% end %>
